<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/stylesheets/login.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <div class="main-container">
      <div class="content-container">
        <div class="header-container">
          <div class="header-content">
            <p id="header-label">Welcome to the future</p>
          </div>
        </div>
        <div class="form-container">
          <div class="form-container-header">
            <div id="header-label">Log in to your account</div>
          </div>
          <div class="login-form">
            <form
              action="/login/"
              name="loginForm"
              class="loginForm"
              method="post"
            >
                  {% csrf_token %}
              <div class="voter-id-container">
                <label for="voter-id">Voter ID</label>
                <input
                  type="number"
                  name="voterId"
                  id="voter_id"
                  placeholder="E.g. 2434"
                  required
                />
              </div>
              <div class="national-id-container">
                <label for="national-id">National ID</label>
                <input
                  type="number"
                  name="nationalId"
                  id="national-id"
                  minlength="7"
                  maxlength="9"
                  placeholder="E.g. 4566787"
                  required
                />
              </div>
              <div class="submit-container">
                <input type="submit" value="Log in" id="submit-button" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="side-panel"></div>
    </div>
  </body>
  <style>
    .side-panel{
      background-image: url("{% static 'static/login_side.jpg' %}");
    }
  </style>
</html>
