<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/error.css" />
    <title>Error</title>
  </head>
  <body>
    <div class="main-container">
      <div class="nav-bar">
        <div class="logo-container">
          <a href="/">
            <img src="/static/logo.svg" alt="Kura" />
          </a>
        </div>
        <div class="nav-links">
          <a href="#">contact</a>
        </div>
      </div>

      <div class="main-body-container">
        <div class="header-container">
          <p id="error-msg-title">Ooops! Error occurred</p>
        </div>
        <div class="body-content-container">
          <div class="error-msg-container">
            <p id="error-message">
              We apologize. An error occurred while casting your vote. The
              problem has been reported and fixed immediately. Thank you for
              your patience.
            </p>
          </div>
          <div class="home-button-container">
            <a href="/" id="home-a-link">
              <button id="home-link-btn">Take me to Home Page</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
